@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,700&display=swap');
font-family: 'Josefin Sans', sans-serif;
h1,h2,h3,h4,h5,h6{
	color:rgba(58,12,163,60%)


p{
font-family: 'Josefin Sans', sans-serif;
}